%% == Erlang Compiler ==

{erl_opts, [
  debug_info
]}.

%% == Dependencies ==

{deps, [
  {jiffy,"1.0.1"},
  {uuid, "1.7.5", {pkg, uuid_erl}}
]}.

%% == Release ==

{relx, [
  {release, {bellboy, "0.1.0"}, [bellboy,inets]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

%% == Profiles ==

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.
